* {
    margin: 0;
    padding: 0;
}



/** solapa inicio **/

.section1 {

    display: flex;
    width: 100%;
    height: 100vh;
    justify-content:space-evenly;
    background-color: white;

}

.caja {
    display:flexbox;
    align-items: center;
}

.parrafo {
    display: block;
    text-align: left;
}


.imagen1 {
    height: 70%;
    

}



.boton {
    display: block;
    background-color: #131213;
    padding: 10px;
    width: 500px;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    

}

.boton:hover {
    color: rgb(7, 7, 7);
    background-color: rgb(240, 236, 236);
}


.text-principal {
    font-size: 20px;
}

.imagen-derecha {
    max-width: 80%;
}

@media screen and (max-width:800px){
    .imagenderecha {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:800px){
    .imag-fluid {
        width: 80%;
        align-items: center;
        margin: 40px;
    }
}




/** solapa servicios **/








/** solapa trabajos **/

.col {
    padding: 50px;
    color: aliceblue;

    
}

section {
    background-color:rgb(177, 61, 61);
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.imagen-trabajos {
    border-radius: 4%;
    width: 500px;
    height: 300px;
    transition-delay: 0s;
    
}








/** solapa nosotros **/

.section-nosotros {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 100px;
    align-items: center;
    justify-content: space-around;
}


.img-fluid {
    width: 60%;
}

@media screen and (max-width:850px){
    .img-fluid {
        opacity: 0%;
    }
}







/** solapa contacto **/

input,
    textarea {
    width: 100%;
    padding: 5px;
    outline: none;
}

label {
    line-height: 1.9rem;
}

input[type="submit"] {
    transform: translate(2.2%);
    padding: 3px;
    margin-top: 0.6rem;
    font-family: cursive;
    font-weight: bold;
}

fieldset {
padding: 20px 40px;
background-color: #DDECFF;
}

@media screen and (max-width:800px){
    .row row-cols-2
    {
        flex-direction: column;
    }
    }



legend {
color: #60A7FF;
}

.section--contacto {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 61, 61);

}

.imagen--contacto {
    width: 100%;
    

}

.imagencontacto {
    text-align: center;
    width: 50%;
    height: 50%;
}

form {
    margin-left: 10px;
}

H4 {
    text-align: center;
}



.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:800px){
    .imagen--contacto {
        opacity: 0%;
    }
}



/*Footer*/

.pie-pagina{
    width: 100%;
    background-color: #F8F9FA;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    }
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    color: #000000;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

h4 {
    color: #000000;
}




