.boton {
    display: block;
    transition-duration: 0.5s;
    background: #131213;
    padding: 10px;
    width: 500px;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;

    .boton:hover {
    color: #070707;
    background: rgb(55, 39, 128);
    
}

}
