.boton {
    display: block;
    background-color: #131213;
    padding: 10px;
    width: 500px;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    

}

.boton:hover {
    color: rgb(7, 7, 7);
    background-color: #D566CD;
}